<template>
  <q-page padding>
    <pre>{{ loadLog }}</pre>
  </q-page>
</template>

<script>
import { useStore } from 'vuex'
import { defineComponent, ref, inject, onMounted, computed, getCurrentInstance } from 'vue'
import { Platform } from 'quasar'
import useCdFunctions from '../shared/cd.functions.js'
import useMixFunctions from '../shared/mix.functions.js'
import { fileService } from 'boot/fileService'

export default defineComponent({
  // name: 'PageName',
  setup () {
    const $store = useStore()
    const cdFunc = useCdFunctions()
    const mixFunc = useMixFunctions()
    const loadLog = ref('')

    const isMobile = computed(() => {
      if (Platform.is.cordova && Platform.is.mobile) return true
      return false
    })

    const internalInstance = getCurrentInstance()
    onMounted(async () => {
      try {
        loadLog.value += 'Inizio lettura files e directory\n\r'
        if (isMobile.value) {
          const lista = await fileService.list()
          loadLog.value += JSON.stringify(lista) + '\n\r'
        } else {
          loadLog.value += 'Non siamo su mobile, nessuna directory da analizzare\n\r'
        }
      } catch (e) {
        loadLog.value += 'Errore caricamento cd ' + e + '\n\r'
        console.log('Impossibile caricare i dati iniziali dei cd', e)
      }
      try {
        loadLog.value += 'Inizio caricamento cd\n\r'
        const cdj = isMobile.value ? internalInstance.appContext.config.globalProperties.$cd : await cdFunc.loadCdFile()
        loadLog.value += 'Numero cd caricati ' + (cdj?.length ? cdj.length : 0) + '\n\r'
        /* for (const cd of cdj) {
          for (const song of cd.song) {
            song.$.cd = cd.$.name
          }
        } */
        loadLog.value += JSON.stringify(cdj)?.substring(0, 100) + '\n\r'
      } catch (e) {
        loadLog.value += 'Errore caricamento cd ' + e + '\n\r'
        console.log('Impossibile caricare i dati iniziali dei cd', e)
      }
      try {
        loadLog.value += 'Inizio caricamento mix' + '\n\r'
        const mixj = isMobile.value ? internalInstance.appContext.config.globalProperties.$mix : await mixFunc.loadMixFile()
        loadLog.value += 'Numero mix caricati ' + (mixj?.length ? mixj.length : 0) + '\n\r'
      } catch (e) {
        loadLog.value += 'Errore caricamento mix ' + e + '\n\r'
        console.log('Impossibile caricare i dati iniziali dei mix', e)
      }
      loadLog.value += $store.state.application.loadLog
    })

    return {
      loadLog
    }
  }
})
</script>
