<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      cd {{ name }} <span v-if="cd.$.earchecked"><q-icon name="check" /></span>
    </h5>
    <div class="q-pa-md">
      <q-list bordered separator id="song-list">
        <song-component
          v-bind:name="name"
          v-bind:song="song"
          v-bind:is-mix="false"
          v-for="(song, $index) in cd.song"
          v-bind:key="song.$.artist + song.$.title"
          @click="selectSong(song, $index)"
        ></song-component>
        <!--q-item clickable v-ripple v-for="(song, $index) in cd.song" v-bind:key="song.$.artist+song.$.title" @click="selectSong(song, $index)">

          <q-item-section>
            <q-item-label>{{ name }}/{{ song.$.track }} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
            <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
            <q-item-label caption class="blue-gray-5">
              {{song.$.key}}
              <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
              <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
            </q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$)">
              <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
            </q-badge>
          </q-item-section>
          <span v-if="develop">{{song}}</span>

        </q-item-->
      </q-list>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import useCd from '../use/pages/useCd.js'
import SongComponent from '../components/Song.vue'

export default defineComponent({
  name: 'Cd',
  components: { SongComponent },
  props: ['name'],
  setup (props) {
    const { cd, selectSong, viewMixes, emitter, selectedSong } = useCd(
      props
    )

    return {
      cd,
      selectSong,
      viewMixes,
      emitter,
      selectedSong
    }
  },
  data () {
    return {
      develop: false
    }
  }
})
</script>
