<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      cd form {{ name }} <span v-if="cd.$.earchecked"><q-icon name="check" /></span>
    </h5>
    <div class="q-pa-md">
      <song-form-component
          v-bind:name="name"
          v-bind:song="song"
          v-for="song in cd.song"
          v-bind:key="song.$.track"
        ></song-form-component>
      <!--q-select v-model="model" :options="keyOptions" label="Standard" />
      <div class="row" v-for="song in cdCopy.song" v-bind:key="song.$.artist+song.$.title">
          <div class="col-1"><q-input outlined dense v-model="song.$.track" disable /></div>
          <div class="col-3"><q-input outlined dense v-model="song.$.artist" label="Artist" /></div>
          <div class="col-3"><q-input outlined dense v-model="song.$.title" label="Title" /></div>
          <div class="col-2"><q-input outlined dense v-model.number="song.$.bpm" type="number" label="Bpm" /></div>
          <div class="col-1"><q-select outlined dense v-model="song.$.key" :options="keyOptions" label="Key" /></div>
          <div class="col-2"><q-select outlined dense v-model="song.$.wav" :options="wavOptions" label="wav/mp3" /></div>
      </div-->
      <q-list bordered separator id="song-list">
        <song-component
          v-bind:name="name"
          v-bind:song="song"
          v-for="(song, $index) in cdCopy.song"
          v-bind:key="song.$.artist + song.$.title"
          @click="selectSong(song, $index)"
        ></song-component>
      </q-list>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import useCd from '../use/pages/useCdForm.js'
import SongComponent from '../components/Song.vue'
import SongFormComponent from '../components/SongForm.vue'

export default defineComponent({
  name: 'CdForm',
  components: { SongComponent, SongFormComponent },
  props: [
    'name'
  ],
  setup (props) {
    const {
      cd,
      cdCopy,
      selectSong,
      viewMixes,
      emitter,
      selectedSong,
      wavOptions,
      keyOptions,
      model
    } = useCd(props)

    console.log(cd, cdCopy)

    return {
      cd,
      cdCopy,
      selectSong,
      viewMixes,
      emitter,
      selectedSong,
      wavOptions,
      keyOptions,
      model
    }
  },
  data () {
    return {
      develop: false
    }
  }
})
</script>
