/* eslint-disable no-undef */
<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      cd list v5 <q-icon color="blue-gray-3" v-if="!isMobile" name="add" @click="addCd" />
    </h5>
    <div>
      <div class="q-pa-md" v-if="cdList && cdList.length && cdList.length > 0">
        <q-input class="q-mb-md lowercase" v-model="search" dense>
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-list bordered separator id="cd-list">
          <q-item clickable v-ripple v-for="cd in cdListFiltrata" v-bind:key="cd.$.title" :to="'/cd/'+cd.$.name">
            <q-item-section>{{ cd.$.name }}</q-item-section>
          </q-item>
        </q-list>
      </div>
      <!-- <no-results v-if="!cdList || cdList.length === 0" /> -->
    </div>
  </div>
  <div class="q-pl-md" v-if="!isMobile"><file-dropper-component></file-dropper-component></div>
</template>

<style>
    .lowercase input {
        text-transform: lowercase;
    }
</style>

<script setup>
import FileDropperComponent from '../components/FileDropper.vue'
import { computed, ref } from 'vue'
import { useStore } from 'vuex'
import { Platform } from 'quasar'

const $store = useStore()

const cdList = computed(() => {
  return $store.state.cdJson.cdJson
})
const cdListFiltrata = computed(() => {
  return cdList.value.filter(el => el.$.name.toLowerCase().indexOf(search.value.toLowerCase()) > -1)
})
const search = ref('')

const isMobile = computed(() => {
  if (Platform.is.cordova && Platform.is.mobile) return true
  return false
})

const addCd = () => {
  $store.commit('cdJson/addCd')
}
/* import { defineComponent } from 'vue'
import useCdList from '../use/pages/useCdList.js'

export default defineComponent({
  name: 'CdList',
  components: { FileDropperComponent },
  setup () {
    const {
      cdList,
      isMobile,
      addCd
    } = useCdList()

    return {
      cdList,
      isMobile,
      addCd
    }
  }
})
 */</script>
