<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      {{ title }}
      <q-btn icon="shuffle" @click="autoShuffle(songs)">
        <q-tooltip>Autoshuffle</q-tooltip>
      </q-btn>
    </h5>
    <q-form class="q-gutter-md q-pa-md" style="max-width: 400px">
      <q-input
        filled
        dense
        type="number"
        maxlength="190"
        v-model="bpm"
        label="Bpm" />
    </q-form>
    <!--span ng-if="develop">{{ selectedSong }}</span-->
    <div class="q-pa-md" v-if="songs.length > 0">
      <q-list bordered separator id="song-list">
        <song-component
          v-bind:song="song"
          v-for="(song, $index) in songs"
          v-bind:key="$index"
          @click="selectSong(song, $index)"
        ></song-component>
        <!-- <q-item clickable v-ripple v-for="(song, $index) in songs" v-bind:key="$index" @click="selectSong(song, $index)" :class="song.$.class">
          <q-item-section avatar>
            <img v-if="song.$.class !== 'currentmix-nota' && song.$.class === 'even'" src="~assets/img/left_arrow.png">
            <img v-if="song.$.class !== 'currentmix-nota' && song.$.class === 'odd'" src="~assets/img/right_arrow.png">
            <q-icon v-if="song.$.class === 'currentmix-nota'" color="blue-gray-3" size="3em" name="notes" />
          </q-item-section>

          <q-item-section v-if="song.$.type === 'local'">
            <q-item-label>{{ song.$.path }} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
            <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
            <q-item-label caption class="blue-gray-5">
              {{song.$.key}}
              <span v-if="song.pause && song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
              <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
            </q-item-label>
            <q-item-label v-if="song.$.note">
              {{song.$.note}}
            </q-item-label>
          </q-item-section>

          <q-item-section v-if="song.$.type === 'ext'">
            <q-item-label>{{ song.$.artist }}</q-item-label>
            <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
            <q-item-label caption class="blue-gray-5">
              {{song.$.key}}
            </q-item-label>
            <q-item-label v-if="song.$.note">
              {{song.$.note}}
            </q-item-label>
          </q-item-section>

          <q-item-section v-if="song.$.type === 'nota'">
            <q-item-label>{{ song.$.note }}</q-item-label>
          </q-item-section>

          <span v-if="develop">{{song}}</span>

        </q-item> -->
      </q-list>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import useCurrentMix from '../use/pages/useCurrentMix.js'
import SongComponent from '../components/Song.vue'

export default defineComponent({
  name: 'CurrentMix',
  components: { SongComponent },
  setup () {
    const {
      bpm,
      title,
      songs,
      selectSong,
      selectedSong,
      selectedSongIndex
    } = useCurrentMix()

    return {
      bpm,
      title,
      songs,
      selectSong,
      selectedSong,
      selectedSongIndex
    }
  },
  data () {
    return {
      develop: false
    }
  }
})
</script>

<style>
.even{ /* background-image: url("/statics/img/left_arrow.png"); */
      background-repeat: no-repeat;
      background-color: #eee;
    }
.odd{ /* background-image: url("/statics/img/right_arrow.png"); */
       background-repeat: no-repeat;
    }
</style>
