<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      Harmonic wheel
    </h5>
    <div class="q-pa-md">
      <img src="~assets/img/camelotwheel2.png" usemap="#image-map" />
      <map name="image-map">
        <area target="" alt="" title="" id="Emajor" @click="playSound($event)" coords="201,15,221,89,268,79,320,87,341,12,270,2" shape="poly">
        <area target="" alt="" title="" id="Bmajor" @click="playSound($event)" coords="341,16,398,34,459,81,405,136,368,108,320,87" shape="poly">
        <area target="" alt="" title="" id="F#major" @click="playSound($event)" coords="460,85,502,136,529,201,454,221,436,179,405,137" shape="poly">
        <area target="" alt="" title="" id="C#major" @click="playSound($event)" coords="455,222,529,204,538,271,528,339,454,320,462,268" shape="poly">
        <area target="" alt="" title="" id="G#major" @click="playSound($event)" coords="453,322,528,342,506,398,459,458,404,406,437,362" shape="poly">
        <area target="" alt="" title="" id="D#major" @click="playSound($event)" coords="403,406,458,460,409,499,340,528,319,453,368,435" shape="poly">
        <area target="" alt="" title="" id="A#major" @click="playSound($event)" coords="222,454,270,461,318,454,337,527,273,539,203,529" shape="poly">
        <area target="" alt="" title="" id="Fmajor" @click="playSound($event)" coords="84,459,138,405,174,434,221,454,200,527,134,500" shape="poly">
        <area target="" alt="" title="" id="Cmajor" @click="playSound($event)" coords="14,343,89,322,106,364,138,404,82,459,38,406" shape="poly">
        <area target="" alt="" title="" id="Gmajor" @click="playSound($event)" coords="14,204,87,224,82,270,88,319,14,341,3,268" shape="poly">
        <area target="" alt="" title="" id="Dmajor" @click="playSound($event)" coords="82,85,136,138,106,177,88,223,13,203,39,130" shape="poly">
        <area target="" alt="" title="" id="Amajor" @click="playSound($event)" coords="200,14,219,90,175,106,137,137,81,82,134,37" shape="poly">
        <area target="" alt="" title="" id="C#minor" @click="playSound($event)" coords="221,87,248,189,271,186,292,188,319,86,269,80" shape="poly">
        <area target="" alt="" title="" id="G#minor" @click="playSound($event)" coords="320,87,366,106,404,136,329,211,312,197,293,190" shape="poly">
        <area target="" alt="" title="" id="D#minor" @click="playSound($event)" coords="404,137,435,175,454,222,354,248,344,226,331,211" shape="poly">
        <area target="" alt="" title="" id="A#minor" @click="playSound($event)" coords="353,250,454,220,459,273,453,318,351,292,356,273" shape="poly">
        <area target="" alt="" title="" id="Fminor" @click="playSound($event)" coords="351,293,452,320,434,365,404,403,332,330,344,316" shape="poly">
        <area target="" alt="" title="" id="Cminor" @click="playSound($event)" coords="332,332,404,405,363,435,318,452,292,355,313,347" shape="poly">
        <area target="" alt="" title="" id="Gminor" @click="playSound($event)" coords="247,354,271,358,289,354,318,453,271,459,222,452" shape="poly">
        <area target="" alt="" title="" id="Dminor" @click="playSound($event)" coords="138,402,208,331,227,345,246,353,219,452,173,434" shape="poly">
        <area target="" alt="" title="" id="Aminor" @click="playSound($event)" coords="88,319,186,292,195,313,209,331,136,404,106,366" shape="poly">
        <area target="" alt="" title="" id="Eminor" @click="playSound($event)" coords="88,223,186,249,184,271,186,291,88,319,81,269" shape="poly">
        <area target="" alt="" title="" id="Bminor" @click="playSound($event)" coords="136,135,210,210,195,232,186,248,88,224,105,174" shape="poly">
        <area target="" alt="" title="" id="F#minor" @click="playSound($event)" coords="221,87,245,188,228,199,211,209,135,136,172,106" shape="poly">
      </map>
    </div>
    <!-- <audio id="Aminor">
      <source src="~assets/sounds/A-.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio> -->
  </div>
</template>

<script>
export default {
  setup () {
    const playSound = (a) => {
      const audio = new Audio('/sounds/' + a.srcElement.id.replace('minor', '-').replace('major', '+').replace('#', '_') + '.mp3')
      console.log('nella funzione', a.srcElement.id, a.srcElement.id.replace('minor', '-').replace('major', '+').replace('#', '_'))
      audio.play()
    }
    return {
      playSound
    }
  }
}
</script>
