<template>
  <div>
    <div class="q-pa-md">
      <q-list bordered separator id="item-list-in-key">
        <q-expansion-item
          expand-separator
          :label="'Chiave ' + selectedKey.replace('*', '#')"
          header-class="bg-light-blue-8 text-white"
          expand-icon-class="text-white"
        >
          <q-list bordered separator id="song-list-in-key">
            <song-component
              v-bind:name="song.$.path+song.$.title"
              v-bind:song="song"
              v-for="(song, $index) in songsKey"
              v-bind:key="song.$.artist + song.$.title + $index"
              @click="selectSong(song, $index)"
            ></song-component>
            <!-- <q-item clickable v-ripple v-for="(song, $index) in songsKey" v-bind:key="$index" @click="selectSong(song, $index)">
              <q-item-section>
                <q-item-label>{{song.$.path}} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
                <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
                <q-item-label caption class="blue-gray-5">
                  {{song.$.key}}
                  <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
                  <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
                </q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$.used_mixes)">
                  <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
                </q-badge>
              </q-item-section>
              <span style="color:#999999" v-if="develop">
                nat.key.match:{{song.$.natural_key_match}}<br/>
                scarto:{{song.$.scarto}}<br/>
                bpm ref:{{song.$.bpm_ref}}<br/>
                transposed:{{song.$.transposed}}<br/>
              </span>
            </q-item> -->
          </q-list>
        </q-expansion-item>
      </q-list>

      <q-list bordered separator id="item-list-key-before">
        <q-expansion-item
          expand-separator
          :label="'Chiave prima ' + keyBefore"
          header-class="bg-deep-purple-7 text-white"
          expand-icon-class="text-white"
        >
          <q-list bordered separator id="song-list-key-before">
            <song-component
              v-bind:name="song.$.path+song.$.title"
              v-bind:song="song"
              v-for="(song, $index) in songsKeyBefore"
              v-bind:key="song.$.artist + song.$.title + $index"
              @click="selectSong(song, $index)"
            ></song-component>
            <!-- <q-item clickable v-ripple v-for="(song, $index) in songsKeyBefore" v-bind:key="$index" @click="selectSong(song, $index)">

              <q-item-section>
                <q-item-label>{{song.$.path}} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
                <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
                <q-item-label caption class="blue-gray-5">
                  {{song.$.key}}
                  <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
                  <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
                </q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$.used_mixes)">
                  <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
                </q-badge>
              </q-item-section>
              <span style="color:#999999" v-if="develop">
                nat.key.match:{{song.$.natural_key_match}}<br/>
                scarto:{{song.$.scarto}}<br/>
                bpm ref:{{song.$.bpm_ref}}<br/>
                transposed:{{song.$.transposed}}<br/>
              </span>
            </q-item> -->
          </q-list>
        </q-expansion-item>
      </q-list>

      <q-list bordered separator id="item-list-key-after">
        <q-expansion-item
          expand-separator
          color="cyan"
          :label="'Chiave dopo ' + keyAfter"
          header-class="bg-purple-8 text-white"
          expand-icon-class="text-white"
        >
          <q-list bordered separator id="song-list-key-after">
            <song-component
              v-bind:name="song.$.path+song.$.title"
              v-bind:song="song"
              v-for="(song, $index) in songsKeyAfter"
              v-bind:key="song.$.artist + song.$.title + $index"
              @click="selectSong(song, $index)"
            ></song-component>
            <!-- <q-item clickable v-ripple v-for="(song, $index) in songsKeyAfter" v-bind:key="$index" @click="selectSong(song, $index)">

              <q-item-section>
                <q-item-label>{{song.$.path}} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
                <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
                <q-item-label caption class="blue-gray-5">
                  {{song.$.key}}
                  <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
                  <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
                </q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$.used_mixes)">
                  <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
                </q-badge>
              </q-item-section>
              <span style="color:#999999" v-if="develop">
                nat.key.match:{{song.$.natural_key_match}}<br/>
                scarto:{{song.$.scarto}}<br/>
                bpm ref:{{song.$.bpm_ref}}<br/>
                transposed:{{song.$.transposed}}<br/>
              </span>
            </q-item> -->
          </q-list>
        </q-expansion-item>
      </q-list>

      <q-list bordered separator id="item-list-key-relative">
        <q-expansion-item
          expand-separator
          color="cyan"
          :label="'Chiave relativa ' + keyRelative"
          header-class="bg-purple-6 text-white"
          expand-icon-class="text-white"
        >
          <q-list bordered separator id="song-list-key-relative">
            <song-component
              v-bind:name="song.$.path+song.$.title"
              v-bind:song="song"
              v-for="(song, $index) in songsKeyRelative"
              v-bind:key="song.$.artist + song.$.title + $index"
              @click="selectSong(song, $index)"
            ></song-component>
            <!-- <q-item clickable v-ripple v-for="(song, $index) in songsKeyRelative" v-bind:key="$index" @click="selectSong(song, $index)">

              <q-item-section>
                <q-item-label>{{song.$.path}} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
                <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
                <q-item-label caption class="blue-gray-5">
                  {{song.$.key}}
                  <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
                  <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
                </q-item-label>
              </q-item-section>

              <q-item-section side top>
                <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$.used_mixes)">
                  <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
                </q-badge>
              </q-item-section>
              <span style="color:#999999" v-if="develop">
                nat.key.match:{{song.$.natural_key_match}}<br/>
                scarto:{{song.$.scarto}}<br/>
                bpm ref:{{song.$.bpm_ref}}<br/>
                transposed:{{song.$.transposed}}<br/>
              </span>
            </q-item> -->
          </q-list>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import useInKey from '../use/pages/useInKey.js'
import SongComponent from '../components/Song.vue'

export default defineComponent({
  name: 'InKey',
  components: { SongComponent },
  props: {
    bpm: String,
    selectedKey: String,
    idx: String
  },
  setup (props) {
    const {
      keyBefore: keyBeforeComp,
      keyAfter: keyAfterComp,
      keyRelative: keyRelativeComp,
      properties,
      songsKey: songsKeyComp,
      songsKeyBefore: songsKeyBeforeComp,
      songsKeyAfter: songsKeyAfterComp,
      songsKeyRelative: songsKeyRelativeComp,
      selectSong
    } = useInKey(props)

    return {
      keyBefore: keyBeforeComp,
      keyAfter: keyAfterComp,
      keyRelative: keyRelativeComp,
      properties,
      songsKey: songsKeyComp,
      songsKeyBefore: songsKeyBeforeComp,
      songsKeyAfter: songsKeyAfterComp,
      songsKeyRelative: songsKeyRelativeComp,
      selectSong
    }
  },
  methods: {
    viewMixes (m) {
      console.log('view mixes', m)
    }
  },
  data () {
    return {
      develop: false
    }
  }
})
</script>
