<template>
  <div>
    <h5 class="q-pl-md" id="titolo-pagina">
      mix list
    </h5>
    <div>
      <div class="q-pa-md" v-if="mixList && mixList.length && mixList.length > 0">
        <q-input class="q-mb-md lowercase" v-model="search" dense>
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-list bordered separator id="mix-list">
          <q-item v-for="mix in mixListFiltrata" v-bind:key="mix.$.name">
            <q-item-section class="col col-sm-9">{{ mix.$.name }}</q-item-section>
            <q-item-section top side class="col col-sm-3">
              <div class="q-gutter-xs bottoni-mix">
                <q-btn flat round dense color="indigo" icon="search" :to="'/mix/' + mix.$.name">
                  <q-tooltip>Apri mix</q-tooltip>
                </q-btn>
                <q-btn flat round dense color="green-7" icon="restore" @click="loadCurrentMix(mix.$.name)">
                  <q-tooltip>Carica nel current mix</q-tooltip>
                </q-btn>
                <q-btn flat round dense color="red" icon="delete">
                  <q-tooltip>Elimina</q-tooltip>
                </q-btn>
              </div>
            </q-item-section>
            <pre v-if="debug">{{ JSON.stringify(mix) }}</pre>
          </q-item>
        </q-list>
      </div>
      <!-- <no-results v-if="!mixList || mixList.length === 0" /> -->
    </div>
  </div>
</template>

<style>
    .lowercase input {
        text-transform: lowercase;
    }
</style>

<script setup>
import { computed, ref } from 'vue'
import useMixFunctions from 'src/shared/mix.functions.js'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

const $store = useStore()
const mixList = computed(() => {
  return $store.state.mixJson.mixJson
})
const mixListFiltrata = computed(() => {
  return mixList.value.filter(el => el.$.name.toLowerCase().indexOf(search.value.toLowerCase()) > -1)
})
const search = ref(''), debug = ref(false)

const mixFunc = useMixFunctions()
const router = useRouter()

const loadCurrentMix = (n) => {
  const m = mixFunc.getMix(n, $store.state.mixJson.mixJson)
  // console.log('pre update', n, $store.state.mixJson.mixJson)
  $store.commit('currentMix/updateCurrentMix', m)
  router.push({ path: '/current-mix' })
}

/* import { defineComponent } from 'vue'
import useMixList from '../use/pages/useMixList.js'

export default defineComponent({
  name: 'MixList',

  setup () {
    const {
      mixList,
      debug,
      loadCurrentMix
    } = useMixList()

    return {
      mixList,
      debug,
      loadCurrentMix
    }
  }
})
 */</script>
