<template>
  <div>
    <h5 class="q-pl-md">
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-6">
          <q-input class="lowercase q-ma-sm" outlined dense v-model="model" label="Cerca..." />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-4 col-xl-6">
          <q-checkbox dense v-model="usate" label="Usate" class="q-pl-md" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 col-xl-3">
          <q-input type="number" class="lowercase q-ma-sm" outlined dense v-model.number="bpmmodel" label="Bpm..." />
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 col-xl-3">
          <q-input number class="lowercase q-ma-sm" outlined dense v-model="keymodel" label="Key..." />
        </div>
      </div>
      <!-- <q-select
        filled
        dense
        :model-value="model"
        use-input
        hide-selected
        fill-input
        input-debounce="0"
        :options="options"
        @filter="filterFn"
        @input-value="setModel"
        hint="Titolo, artista, bpm"
        style="width: 250px; padding-bottom: 32px"
        id="cerca"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              No results
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      {{ model }} -->
    </h5>
    <div class="q-pa-md">
      <!-- {{ selectedSong }} -->
      <q-list bordered separator id="song-list" data-cy="song-list">
        <song-component
          v-bind:name="song.$.path+song.$.title"
          v-bind:song="song"
          v-bind:is-mix="true"
          v-for="(song, $index) in filteredSongs"
          v-bind:key="song.$.artist + song.$.title + $index"
          @click="selectSong(song, $index)"
        ></song-component>
        <div v-if="filteredSongs.length === 0">Nessun risultato</div>
        <!-- <q-item clickable v-ripple v-for="(song, $index) in filteredSongs" v-bind:key="song.$.path+song.$.title" @click="selectSong(song, $index)">

          <q-item-section>
            <q-item-label>{{ song.$.path }} - {{ song.$.artist }} ({{ song.$.wav }})</q-item-label>
            <q-item-label caption class="blue-gray-3">{{ song.$.title }} ({{ song.$.bpm }})</q-item-label>
            <q-item-label caption class="blue-gray-5">
              {{song.$.key}}
              <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | {{song.pause.toString()}} </span>
              <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
            </q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-badge v-if="song.$.used > 0" color="teal" :label="song.$.used" @click.stop="viewMixes(song.$.used_mixes)">
              <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
            </q-badge>
          </q-item-section>
          <span v-if="develop">{{song}}</span>

        </q-item> -->
      </q-list>
    </div>
  </div>
</template>

<style>
    .lowercase input {
        text-transform: lowercase;
    }
</style>

<script>
// import cdMixin from '../mixins/cd.mixin'
import { defineComponent } from 'vue'
import useSearch from '../use/pages/useSearch.js'
import SongComponent from '../components/Song.vue'

export default defineComponent({
  name: 'Search',
  components: { SongComponent },
  setup () {
    const {
      cd,
      selectSong,
      selectedSong,
      filterFn,
      setModel,
      stringOptions,
      filteredSongs,
      develop,
      model,
      bpmmodel,
      keymodel,
      options,
      usate,
      viewMixes
    } = useSearch()

    return {
      cd,
      selectSong,
      selectedSong,
      filterFn,
      setModel,
      stringOptions,
      filteredSongs,
      develop,
      model,
      bpmmodel,
      keymodel,
      options,
      usate,
      viewMixes
    }
  },
  /* computed: {
    stringOptions: function () {
      const a = []
      for (const s of this.cd) {
        if (a.indexOf(s.$.artist) === -1) a.push(s.$.artist)
        if (a.indexOf(s.$.title) === -1) a.push(s.$.title)
        if (a.indexOf(s.$.bpm) === -1) a.push(s.$.bpm)
        if (a.indexOf(s.$.key) === -1) a.push(s.$.key)
      }
      return a
    },
    filteredSongs () {
      if (!this.searchTerm || this.searchTerm.length < 3) return this.cd.slice(0, 20)
      else {
        return this.cd.filter(song => {
          return song.$.title.indexOf(this.searchTerm) > -1 || song.$.artist.indexOf(this.searchTerm) > -1 || song.$.bpm.indexOf(this.searchTerm) > -1 || song.$.key.indexOf(this.searchTerm) > -1
        })
      }
    }
  }, */
  methods: {
  },
  /* data () {
    return {
      develop: false,
      searchTerm: '',
      options: this.stringOptions
    }
  }, */
  async mounted () {
    /* const v = this
    this.$store.$once('add-to-mix', function () {
      console.log('ricevo il click di add to mix')
      cdMixin.aggiungiMix(_assignIn(v.selectedSong, { cd: v.name }))
      v.$router.push({ path: '/current-mix' })
    })
    this.loading = false */
  }
  /* beforeDestroy () {
    // per bug che cattura gli eventi più volte
    //this.$store.$off('add-to-mix')
  } */
})
</script>
