<template>
  <draggable
    v-model="myArray[0].items"
    group="people"
    @start="drag=true"
    @end="drag=false"
    item-key="id">
    <template #item="{element}">
      <div>{{element.name}}</div>
    </template>
  </draggable>
</template>

<script>

import { defineComponent } from 'vue'
import draggable from 'vuedraggable'

export default defineComponent({
  name: 'hello',
  components: {
    draggable
  },
  data () {
    return {
      drag: false,
      myArray: [
        {
          id: 1,
          items: [
            {
              id: 1,
              name: 'Item 1'
            },
            {
              id: 2,
              name: 'Item 2'
            },
            {
              id: 5,
              name: 'Item 5'
            },
            {
              id: 6,
              name: 'Item 6'
            }
          ]
        },
        {
          id: 2,
          items: [
            {
              id: 3,
              name: 'Item 3'
            },
            {
              id: 4,
              name: 'Item 4'
            }
          ]
        }
      ]
    }
  },
  methods: {
  }
})
</script>
