<template>
  <div>
    <h5 class="q-pl-md">
      Mix / cd temporanei
    </h5>
    <div class="q-pa-md">
      <q-list bordered separator>
        <q-item clickable v-ripple v-for="(mix, $index) in mixes" v-bind:key="$index">
          <q-item-section class="col col-sm-9">
            <q-item-label>{{ mix.replace('tmp_', '') }}</q-item-label>
          </q-item-section>
          <q-item-section top side class="col col-sm-3">
            <div class="q-gutter-xs">
              <q-btn flat round dense color="green-7" icon="save_alt" @click.stop="dumpMix(mix)">
                <q-tooltip>Salva mix</q-tooltip>
              </q-btn>
              <q-btn flat round dense color="red" icon="delete" @click.stop="removeMix(mix)">
                <q-tooltip>Elimina</q-tooltip>
              </q-btn>
            </div>
          </q-item-section>
          <!--span v-if="develop">{{song}}</span-->

        </q-item>
      </q-list>
      <hr />
      <q-list bordered separator>
        <q-item clickable v-ripple v-for="(cd, $index) in cds" v-bind:key="$index">
          <q-item-section class="col col-sm-9">
            <q-item-label>{{ cd }}</q-item-label>
          </q-item-section>
          <q-item-section top side class="col col-sm-3">
            <div class="q-gutter-xs">
              <q-btn flat round dense color="green-7" icon="restore" to="/tmp-cd">
                <q-tooltip>Edita tracce</q-tooltip>
              </q-btn>
              <q-btn flat round dense color="red" icon="delete" @click.stop="removeMix(cd)">
                <q-tooltip>Elimina</q-tooltip>
              </q-btn>
            </div>
          </q-item-section>
          <!--span v-if="develop">{{song}}</span-->

        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script setup>
import { api } from 'boot/axios'
import { ref, inject } from 'vue'

const mixes = ref([])
const cds = ref([])
const emitter = inject('emitter')

const dumpMix = async (mix) => {
  try {
    await api.get('/tmpmix/save/' + mix)
    emitter.emit('set-unsaved')
    emitter.emit('notify-positive', 'Mix salvato in memoria')
    removeMix(mix)
  } catch (e) {
    emitter.emit('notify-error', e)
    console.log(e)
  }
}

const removeMix = async (mix) => {
  try {
    await api.get('/tmpmix/remove/' + mix)
    emitter.emit('notify-positive', 'Mix eliminato')
    loadTmpMix()
  } catch (e) {
    emitter.emit('notify-error', e)
    console.log(e)
  }
}

const loadTmpMix = async () => {
  try {
    const tmp = await api.get('json/tmpmix')
    console.log('caricati mix temporanei da web (use)')
    mixes.value = tmp.data
    // for (const item of tmp.data) mixes.push(item)

    console.log(mixes)
  } catch (e) {
    console.log(e)
  }
}
loadTmpMix()

const loadTmpCd = async () => {
  try {
    const tmp = await api.get('json/tmpcd')
    console.log('caricati cd temporanei da web (use)')
    cds.value = tmp.data
    // for (const item of tmp.data) mixes.push(item)

    console.log(cds)
  } catch (e) {
    console.log(e)
  }
}
loadTmpCd()
/* import { defineComponent } from 'vue'
import useTmpMixes from '../use/pages/useTmpMixes.js'

export default defineComponent({
  name: 'TempMixes',
  computed: {
  },
  setup () {
    const {
      dumpMix,
      removeMix,
      loadTmpMix,
      mixes,
      develop,
      cds
    } = useTmpMixes()

    return {
      dumpMix,
      removeMix,
      loadTmpMix,
      mixes,
      develop,
      cds
    }
  }
}) */
</script>
