<template>
  <q-dialog ref="dialog">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6 text-center">Proprietà mix</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dense v-model="localTitolo" autofocus label="Titolo" />
        <q-input dense type="number" v-model="localBpm" label="Bpm" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn
          dense
          color="secondary"
          label="Ok"
          @click="actionClick"
          v-close-popup
        />
     </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'BpmDialog',
  props: {
    bpm: Number,
    titolo: String,
    emitter: Object
  },
  data () {
    return {
      localBpm: this.bpm,
      localTitolo: this.titolo
    }
  },
  methods: {
    actionClick () {
      this.emitter.emit('bpm-set', { titolo: this.localTitolo, bpm: this.localBpm })
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  }
  /* async mounted () {
    const cm = await this.$store.getCurrentMix()
    if (cm) {
      this.titolo = cm.$.name
      this.bpm = cm.$.bpm
    }
  } */
}

</script>
