<template>
  <q-dialog ref="dialog">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6 text-center">{{ external ? 'Traccia esterna' : 'Modifica traccia' }}</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dense v-model="song_artist" autofocus label="Artista" />
        <q-input dense v-model="song_title" label="Titolo" />
        <q-input dense type="number" v-model="song_bpm" label="Bpm" />
        <q-input dense v-model="song_key" label="Chiave (A+, D#-)" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn
          dense
          color="secondary"
          label="Ok"
          @click="actionClick"
        />
     </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ExtSongDialog',
  props: {
    song: Object,
    emitter: Object,
    external: Boolean
  },
  data () {
    return {
      song_artist: '',
      song_title: '',
      song_bpm: 145,
      song_key: ''
    }
  },
  methods: {
    actionClick () {
      let event
      if (this.external) {
        event = (this.song && !this.song.no) ? 'update-ext-song' : 'save-ext-song'
      } else event = 'update-song'
      this.emitter.emit(event, { artist: this.song_artist, title: this.song_title, bpm: this.song_bpm, key: this.song_key })
      this.hide()
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  },
  mounted () {
    if (this.song && !this.song.no) { // Object.keys(this.song).length === 0 passandogli un oggetto vuoto
      this.song_artist = this.song.$.artist
      this.song_title = this.song.$.title
      this.song_bpm = this.song.$.bpm
      this.song_key = this.song.$.key
    }
  }
})

</script>
