<template>
  <q-uploader
    url="http://localhost:3000/upload"
    label="Upload files"
    color="purple"
    square
    flat
    bordered
    style="max-width: 300px"
  />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'FileDropperComponent',
  props: {
    // song: {},
    // name: String
  },
  data () {
    return {
      develop: false
    }
  },
  methods: {
  }
})

</script>
