<template>
    <q-img
      src="~assets/img/bckg03.jpg"
      style="height: 140px; width: 300px"
    />
    <q-list class="q-mt-lg" id="menu">
      <q-item clickable v-ripple v-for="item in lateralLinks" v-bind:key="item.title" :to="item.link">
        <q-item-section avatar>
          <q-avatar color="primary" text-color="white" :icon="item.icon" />
        </q-item-section>

        <q-item-section>{{ item.title }}</q-item-section>
      </q-item>
    </q-list>
</template>

<script>

const linksList = [
  {
    title: 'Cd list',
    icon: 'adjust',
    link: '/cd-list'
  },
  {
    title: 'Mix list',
    icon: 'playlist_play',
    link: '/mix-list'
  },
  {
    title: 'Current mix',
    icon: 'playlist_add_check',
    link: '/current-mix'
  },
  {
    title: 'Cerca..',
    icon: 'find_in_page',
    link: '/search'
  },
  {
    title: 'Avanzate',
    icon: 'find_in_page',
    link: '/avanzate'
  }
]

import { Platform } from 'quasar'
import { computed, defineComponent } from 'vue'

export default defineComponent({
  name: 'LateralMenuComponent',
  setup () {
    const isMobile = computed(() => {
      if (Platform.is.cordova && Platform.is.mobile) return true
      return false
    })

    if (!isMobile.value) {
      linksList.push({
        title: 'Mix/cd temporanei',
        icon: 'radio',
        link: '/tmp-mixes'
      })
    }

    return { lateralLinks: linksList }
  },
  props: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
})

</script>
