<template>
  <q-dialog ref="dialog">
    <q-card class="q-dialog-plugin">
      <q-card-section v-if="title">
        <div class="text-h6 text-center" id="titolo-modale">{{ title }}</div>
      </q-card-section>
      <q-list class="q-mt-lg" id="lista-opzioni">
        <q-item clickable v-ripple v-for="item in list" v-bind:key="item" @click="actionClick(item)">
          <q-item-section>{{ item }}</q-item-section>
        </q-item>
      </q-list>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ListDialog',
  props: {
    list: Array,
    title: String,
    action: String,
    emitter: Object
  },
  methods: {
    actionClick (item) {
      // console.log('cliccato sul componente ' + item, this.action)
      if (this.action) {
        this.emitter.emit(this.action, item)
      }
      this.hide()
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  },
  mounted () {
  }
})

</script>
