<template>
  <q-dialog ref="dialog">
    <q-card class="q-dialog-plugin">
      <q-card-section v-if="title">
        <div class="text-h6 text-center" id="titolo-modale">{{ title }}</div>
      </q-card-section>
      <q-card-section>
        <q-btn id="muovi-su" icon="keyboard_arrow_up" color="secondary" @click="moveUp" />
        <q-btn id="muovi-giu" icon="keyboard_arrow_down" color="secondary" @click="moveDown" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn id="chiudi-modale" dense label="Salva" color="secondary" @click="actionClick" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

import { defineComponent } from 'vue'

export default defineComponent({
  name: 'PositionDialog',
  props: {
    title: String,
    emitter: Object
  },
  methods: {
    actionClick () {
      // console.log('cliccato sul componente ' + item, this.action)
    },
    moveUp () {
      this.emitter.emit('move-up')
    },
    moveDown () {
      this.emitter.emit('move-down')
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  },
  mounted () {
  }
})

</script>
