<template>
  <q-dialog ref="dialog">
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6 text-center">Proprietà mix</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input dense v-model="localServerIp" autofocus label="Server ip" />
        <q-input dense v-model="localUsername" label="Username" />
        <q-input dense type="number" v-model="localScartoBpm" label="Scarto bpm" />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn
          dense
          color="secondary"
          label="Ok"
          @click="actionClick"
        />
     </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

export default {
  name: 'PreferencesDialog',
  props: {
    serverIp: String,
    username: String,
    scartoBpm: Number,
    emitter: Object
  },
  data () {
    return {
      localServerIp: this.serverIp,
      localUsername: this.username,
      localScartoBpm: this.scartoBpm
    }
  },
  methods: {
    actionClick () {
      this.emitter.emit('preferences-set', { server_ip: this.localServerIp, username: this.localUsername, scarto_bpm: this.localScartoBpm })
      this.hide()
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  },
  async mounted () {
    console.log(this.serverIp, this.username, this.scartoBpm)
  }
}

</script>
