<template>
    <q-item clickable v-ripple :class="song.$.class">
        <q-item-section avatar v-if="isMix">
          <img v-if="song.$.class !== 'currentmix-nota' && song.$.class === 'even'" src="~assets/img/left_arrow.png">
          <img v-if="song.$.class !== 'currentmix-nota' && song.$.class === 'odd'" src="~assets/img/right_arrow.png">
          <q-icon v-if="song.$.class === 'currentmix-nota'" color="blue-gray-3" size="3em" name="notes" />
        </q-item-section>

        <q-item-section v-if="song.$.type === 'local' || !song.$.type">
          <q-item-label v-if="!isMix">{{ name }}/{{ song.$.track }} - {{ song.$.artist }} <q-badge color="red-5">{{ song.$.bpm }}</q-badge></q-item-label>
          <q-item-label v-if="isMix">{{ song.$.path }} - {{ song.$.artist }} <q-badge color="red-5">{{ song.$.bpm }}</q-badge></q-item-label>
          <q-item-label class="text-h8">{{ song.$.title }} ({{ song.$.wav }})</q-item-label>
          <q-item-label caption class="blue-gray-5">
              <q-badge color="red-5">{{song.$.key}}</q-badge>
              <span v-if="song.pause.length > 0 && song.pause[0] && song.pause[0] != '-'"> | <q-badge color="amber-4" text-color="black">{{song.pause.toString()}}</q-badge> </span>
              <span v-if="song.tag && song.tag.length > 0 && song.tag[0]"> | {{song.tag.toString()}} </span>
          </q-item-label>
          <q-item-label v-if="song.$.note">
              <q-badge>{{song.$.note}}</q-badge>
            </q-item-label>
        </q-item-section>

        <q-item-section v-if="song.$.type === 'ext'">
          <q-item-label>{{ song.$.artist }} <q-badge color="red-5">{{ song.$.bpm }}</q-badge></q-item-label>
          <q-item-label class="text-h8">{{ song.$.title }}</q-item-label>
          <q-item-label caption class="blue-gray-5">
            <q-badge color="red-5">{{song.$.key}}</q-badge>
          </q-item-label>
          <q-item-label v-if="song.$.note">
            {{song.$.note}}
          </q-item-label>
        </q-item-section>

        <q-item-section v-if="song.$.type === 'nota'">
          <q-item-label>{{ song.$.note }}</q-item-label>
        </q-item-section>

        <q-item-section side top>
          <q-badge v-if="song.$.used_mixes?.length > 0" color="teal" :label="song.$.used_mixes.length" @click.stop="viewMixes(song.$)">
              <q-tooltip>{{ song.$.used_mixes }}</q-tooltip>
          </q-badge>
        </q-item-section>

        <q-item-section v-if="develop">{{song}}</q-item-section>

    </q-item>

</template>

<script>

import { defineComponent, inject, onBeforeUnmount } from 'vue'
import dialogs from '../shared/dialogs.functions.js'
import { useRouter } from 'vue-router'

export default defineComponent({
  name: 'SongComponent',
  props: {
    song: {
      type: Object,
      required: true
    },
    name: String,
    isMix: {
      type: Boolean,
      default: true
    }
  },
  setup () {
    const emitter = inject('emitter')
    const dialogsFunc = dialogs()
    const router = useRouter()

    const viewMixes = (e) => {
      dialogsFunc.simpleListDialog('Mixes', e.used_mixes, 'go-to-mix', emitter)
    }

    emitter.once('go-to-mix', e => {
    // console.log('ricevuto evento go-to-mix', e)
      router.push({ path: '/mix/' + e })
    })

    onBeforeUnmount(() => {
      emitter.off('go-to-mix')
    })

    return {
      develop: false,
      viewMixes
    }
  }
})

</script>

<style>
.even{ /* background-image: url("/statics/img/left_arrow.png"); */
      background-repeat: no-repeat;
      background-color: #eee;
    }
.odd{ /* background-image: url("/statics/img/right_arrow.png"); */
       background-repeat: no-repeat;
    }
</style>
