<template>
    <div class="row">
        <div class="col-1"><q-input outlined dense v-model="track" disable /></div>
        <div class="col-3"><q-input outlined dense v-model="artist" label="Artist" /></div>
        <div class="col-3"><q-input outlined dense v-model="title" label="Title" /></div>
        <div class="col-2"><q-input outlined dense v-model.number="bpm" type="number" label="Bpm" /></div>
        <div class="col-1"><q-select outlined dense v-model="key" :options="keyOptions" label="Key" /></div>
        <div class="col-2"><q-select outlined dense v-model="wav" :options="wavOptions" label="wav/mp3" /></div>
    </div>
</template>

<script>
import loadMixFile from '../shared/mix.functions.js'
import { inject, computed } from 'vue'
import _cloneDeep from 'lodash/cloneDeep'

export default {
  name: 'SongFormComponent',
  props: {
    song: {},
    name: String
  },
  setup (props) {
    const emitter = inject('emitter')
    const mixFunc = loadMixFile()
    const keys = mixFunc.keys
    const keyOptions = keys.getFlat()
    const wavOptions = [
      'wav', 'mp3'
    ]
    // clono oggetto per non mutare direttamente la prop
    const localSong = _cloneDeep(props.song)

    const handleChange = function (key, value) {
      localSong.$[key] = value
      // console.log('emetto evento change', localSong)
      emitter.emit('song-form-change', localSong)
    }

    const track = computed({
      get: function () { return props.song.$.track },
      set: function (value) { handleChange('track', value) }
    })
    const artist = computed({
      get: function () { return props.song.$.artist },
      set: function (value) { handleChange('artist', value) }
    })
    const title = computed({
      get: function () { return props.song.$.title },
      set: function (value) { handleChange('title', value) }
    })
    const bpm = computed({
      get: function () { return props.song.$.bpm },
      set: function (value) { handleChange('bpm', value) }
    })
    const key = computed({
      get: function () { return props.song.$.key },
      set: function (value) { handleChange('key', value) }
    })
    const wav = computed({
      get: function () { return props.song.$.wav },
      set: function (value) { handleChange('wav', value) }
    })

    return {
      keyOptions,
      wavOptions,
      // handleChange,
      track,
      artist,
      title,
      bpm,
      key,
      wav
    }
  },
  data () {
    return {
      develop: false
    }
  }/*,
  computed: {
    title: {
      get: function () { return this.song.$.title },
      set: function (value) { this.handleChange('artist', value) }
    },
    bpm: {
      get: function () { return this.song.$.bpm },
      set: function (value) { this.handleChange('artist', value) }
    },
    key: {
      get: function () { return this.song.$.key },
      set: function (value) { this.handleChange('artist', value) }
    },
    wav: {
      get: function () { return this.song.$.wav },
      set: function (value) { this.handleChange('artist', value) }
    }
  },
  methods: {
  } */
}

</script>
