<template>
  <q-dialog ref="dialog">
    <q-card style="min-width: 350px">
      <q-card-section v-if="title">
        <div class="text-h6" id="titolo-modale">{{ title }}</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-input for="testo" dense v-model="testo" autofocus />
      </q-card-section>
      <q-card-actions align="right" class="text-primary">
        <q-btn id="chiudi-modale" dense label="Salva" color="secondary" @click="actionClick" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>

import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TextDialog',
  props: {
    text: String,
    title: String,
    action: String,
    emitter: Object
  },
  data () {
    return {
      testo: ''
    }
  },
  methods: {
    actionClick (item) {
      this.emitter.emit(this.action, this.testo)
    },
    // i seguenti metodi sono OBBLIGATORI per far funzionare la dialog
    show () {
      this.$refs.dialog.show()
    },
    hide () {
      this.$refs.dialog.hide()
    }
  },
  mounted () {
    // console.log(this.text, this.title, this.action)
    this.testo = this.text
  }
})

</script>
