<template>
  <router-view />
</template>
<script>
// import store from './store/old.js'
import actionsheets from './actionsheets'

import mitt from 'mitt'
const emitter = mitt()
// scritto per evitare di avere più listener per eventi con lo stesso nome
emitter.once = (a, e) => {
  // console.log('provo ad aggiungere un listener')
  if (!emitter.all.get(a)) {
    emitter.on(a, e)
  } else {
    // console.log('listener gia presente')
  }
}

export default {
  name: 'App',
  provide: {
    // store,
    actionsheets, emitter
  }
}
</script>
