<template>
  <q-layout view="lHh lpR lFf">

    <q-header bordered class="bg-primary text-white">
      <q-toolbar>
        <q-btn v-if="isMobile" dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          <q-avatar v-if="!isMobile">
            <img src="~assets/img/drawable-xhdpi-icon.png">
          </q-avatar>
          Pauseless OneApp
        </q-toolbar-title>

        <q-btn flat round dense icon="save" color="red" v-if="unsaved" @click="resetUnsaved()">
          <q-tooltip>Salva cambiamenti</q-tooltip>
        </q-btn>

        <q-btn flat round dense icon="home" to="/">
          <q-tooltip>Home</q-tooltip>
        </q-btn>

        <q-btn flat round dense icon="playlist_add" v-if="routePath() === '/current-mix'" @click="showSheet('insertInMix')">
          <q-tooltip>Aggiungi..</q-tooltip>
        </q-btn>
        <q-btn flat round dense icon="save" v-if="routePath() === '/current-mix' && isMobile" @click="showSheet('saveMixMobile')">
          <q-tooltip>Salva..</q-tooltip>
        </q-btn>
        <q-btn flat round dense icon="save" v-if="routePath() === '/current-mix' && !isMobile" @click="showSheet('saveMix')">
          <q-tooltip>Salva..</q-tooltip>
        </q-btn>
        <q-btn flat round dense icon="cached" v-if="routePath() === '/current-mix'" @click="showSheet('currentMixUtils')">
          <q-tooltip>Utilities</q-tooltip>
        </q-btn>
        <q-btn flat round dense icon="settings" v-if="routePath() === '/current-mix'" @click="bpmTitleDialog()">
          <q-tooltip>Parametri</q-tooltip>
        </q-btn>

        <q-btn flat round dense icon="save" v-if="routePath() !== '/current-mix' && isMobile" @click="showSheet('file')">
          <q-tooltip>Operazioni file</q-tooltip>
        </q-btn>

        <q-btn flat round dense icon="settings" v-if="(routePath() === '/' || routePath() === '/cd-list') && isMobile" @click="showFrontPageSheet()" />
        <q-btn flat round dense icon="settings" v-if="(routePath() === '/' || routePath() === '/cd-list') && !isMobile" @click="showSheet('style')" />

        <q-btn flat round dense icon="blur_on" to="/harmonic" v-if="routePath() !== '/harmonic'">
          <q-tooltip>Camelot wheel</q-tooltip>
        </q-btn>

        <!--q-btn flat round dense icon="schedule" @click="showRoute" /-->
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" side="left" :behavior="isMobile ? 'mobile' : 'desktop'" bordered> <!-- behavior="desktop" magari prima o poi lo faccio condizionale-->
      <lateral-menu-component></lateral-menu-component>
    </q-drawer>
    <div v-if="loading">
      <q-page-container>
        <q-page class="flex flex-center">
          <q-spinner-hourglass color="purple" size="4em" />
        </q-page>
      </q-page-container>
    </div>
    <div v-if="!loading">
      <q-page-container>
        <router-view />
      </q-page-container>
    </div>
  </q-layout>
</template>

<script>
import { defineComponent, ref, inject, onUpdated, onMounted, computed, getCurrentInstance } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import useCdFunctions from '../shared/cd.functions.js'
import useMixFunctions from '../shared/mix.functions.js'
import useDialogs from '../shared/dialogs.functions.js'
import usePreferences from '../shared/preferences.functions.js'
import useServerFunctions from '../shared/server.functions.js'
import { api } from 'boot/axios'
import LateralMenuComponent from '../components/LateralMenu.vue'

import { Platform, useQuasar } from 'quasar'

export default defineComponent({
  name: 'MainLayout',
  components: { LateralMenuComponent },
  setup () {
    const $store = inject('store')
    const emitter = inject('emitter')
    const $actionsheets = inject('actionsheets')
    const dialogs = useDialogs()
    const cdFunc = useCdFunctions()
    const mixFunc = useMixFunctions()
    const serverFunc = useServerFunctions()
    const left = ref(!(Platform.is.cordova && Platform.is.mobile))
    const route = useRoute()
    const router = useRouter()
    const preferences = usePreferences()
    const $q = useQuasar()
    // console.log(`current route name on component setup init: ${route.path}`)

    emitter.once('notify-positive', e => {
      $q.notify({
        type: 'positive',
        message: e
      })
    })

    emitter.once('notify-error', e => {
      $q.notify({
        type: 'negative',
        message: e
      })
    })

    emitter.once('notify-warning', e => {
      $q.notify({
        type: 'warning',
        message: e
      })
    })

    emitter.once('notify-info', e => {
      $q.notify({
        type: 'info',
        message: e
      })
    })

    function routePath () {
      return route.path
    }

    const internalInstance = getCurrentInstance()
    const initValues = async () => {
      $store.commit('application/toggleLoading')
      // caricare i mix
      try {
        if (!$store.state.mixJson.mixJson) {
          $store.commit('mixJson/setMixJson', isMobile.value ? internalInstance.appContext.config.globalProperties.$mix : await mixFunc.loadMixFile())
        }
      } catch (e) {
        console.log('Impossibile caricare i dati iniziali dei mix', e)
        emitter.emit('notify-error', 'Impossibile caricare i dati iniziali dei mix')
      }

      const usedSongs = {}
      if ($store.state.mixJson.mixJson) {
        for (const mix of $store.state.mixJson.mixJson) {
          const songs = mix.song
          for (const song of songs) {
            // inizializzazione struttura dati per catalogare le canzoni gia usate nei vari mix
            if (!usedSongs[song.$.path]) {
              usedSongs[song.$.path] = []
              usedSongs[song.$.path].push(mix.$.name)
            } else {
              usedSongs[song.$.path].push(mix.$.name)
            }
          }
        }
      }

      // caricare i cd
      try {
        // provo a mettere questo if per fare meno chiamate al server. anche nei mix
        if (!$store.state.cdJson.cdJson) {
          const cdj = isMobile.value ? internalInstance.appContext.config.globalProperties.$cd : await cdFunc.loadCdFile()
          for (const cd of cdj) {
            for (const song of cd.song) {
              song.$.cd = cd.$.name
            }
          }
          $store.commit('cdJson/setCdJson', cdj)
        }
      } catch (e) {
        console.log('Impossibile caricare i dati iniziali dei cd', e, isMobile.value)
        emitter.emit('notify-error', 'Impossibile caricare i dati iniziali dei cd ' + e)
      }

      /* if ($store.state.cdJson.cdJson) {
        for (const cd of $store.state.cdJson.cdJson) {
          // aggiungo alle varie canzoni dei cd i loro usi nei mix precedenti
          for (const song of cd.song) {
            if (usedSongs[cd.$.name + '/' + song.$.track]) {
              song.$.used_mixes = usedSongs[cd.$.name + '/' + song.$.track]
            } else {
              // song.$.used = 0
            }
          }
        }
      } */

      $store.commit('application/toggleLoading')
      // console.log('caricato file cd e mix')
    }

    onUpdated(async () => {
      initValues()
    })

    onMounted(async () => {
      initValues()
    })

    const isMobile = computed(() => {
      if (Platform.is.cordova && Platform.is.mobile) return true
      return false
    })

    const unsaved = computed(() => {
      return $store.state.application.unsaved
    })

    const loading = computed(() => {
      return $store.state.application.loading
    })

    const showSheet = (sheetName) => {
      $actionsheets.showSheet(sheetName, emitter, internalInstance.appContext.config.globalProperties)
    }

    const showFrontPageSheet = () => {
      $actionsheets.showSheet('frontPage', emitter)
    }

    const bpmTitleDialog = () => {
      const bpm = $store.state.currentMix.currentMix.$.bpm
      const titolo = $store.state.currentMix.currentMix.$.name
      dialogs.bpmTitleDialog(bpm, titolo, emitter)
    }

    emitter.once('bpm-set', e => {
      console.log('ricevuto evento bpm-set')
      $store.commit('currentMix/setTitle', e.titolo)
      $store.commit('currentMix/setBpm', e.bpm)
      emitter.emit('notify-positive', 'Attributi salvati')
    })

    emitter.once('scarica-xml', e => {
      console.log('ricevuto evento scarica-xml')
      serverFunc.scaricaXml(emitter)
    })

    emitter.once('set-unsaved', e => {
      console.log('ricevuto evento set-unsaved')
      $store.commit('application/setUnsaved', true)
    })

    emitter.once('show-loadmix-dialog', e => {
      // console.log('show-loadmix-dialog', e)
      dialogs.simpleListDialog('Carica mix...', e, 'load-mix', emitter)
    })

    emitter.once('load-mix', e => {
      // console.log('load-mix', e)
      internalInstance.appContext.config.globalProperties.$fileService.read('json_data', 'mix_' + e + '.json').then(mix => {
        // console.log(JSON.parse(mix))
        $store.commit('currentMix/updateCurrentMix', JSON.parse(mix))
        router.push({ path: '/current-mix' })
      })
    })

    emitter.once('show-deletemix-dialog', e => {
      // console.log('show-loadmix-dialog', e)
      dialogs.simpleListDialog('Cancella mix...', e, 'delete-mix', emitter)
    })

    emitter.once('delete-mix', e => {
      // console.log('delete-mix', e)
      internalInstance.appContext.config.globalProperties.$fileService.remove('json_data', 'mix_' + e + '.json').then(result => {
        emitter.emit('notify-positive', 'Mix cancellato')
      })
    })

    emitter.once('show-preferences-dialog', e => {
      // console.log('show-preferences-dialog', e)
      preferences.getPreferences(internalInstance.appContext.config.globalProperties.$fileService).then(jPref => {
        console.log('jPref', jPref)
        dialogs.preferencesDialog(jPref.server_ip, jPref.username, jPref.scarto_bpm, emitter)
      })
    })

    emitter.once('preferences-set', e => {
      console.log('preferences-set', e)
      preferences.setPreferences(internalInstance.appContext.config.globalProperties.$fileService, e)
      emitter.emit('notify-positive', 'Preferenze salvate')
      // internalInstance.appContext.config.globalProperties.$fileService.write('preferences', 'preferences.json', JSON.stringify(e), '', '')
    })

    emitter.once('dark-toggle', e => {
      $q.dark.set(!$q.dark.isActive)
    })

    const resetUnsaved = async () => {
      try {
        await api.post('cd/dump')
        await api.post('mix/dump')
        $store.commit('application/setUnsaved', false)
        emitter.emit('notify-positive', 'Dati salvati')
      } catch (e) {
        console.error('Impossibile eseguire il dump', e)
        emitter.emit('notify-error', e)
      }
    }

    return {
      left,
      loading,
      routePath,
      isMobile,
      showSheet,
      bpmTitleDialog,
      showFrontPageSheet,
      resetUnsaved,
      unsaved
    }
  }
})
</script>
